<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="media.pic.recognize.train.mapper.PicRecognizeStepMapper">

    <resultMap id="RESULTMAP_BASE" type="media.pic.recognize.train.entity.PicRecognizeStep">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="pic_recognize_log_id" property="picRecognizeLogId" jdbcType="INTEGER"/>
        <result column="step_name" property="stepName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="COLUMNS_BASE">id,pic_recognize_log_id,step_name,create_time,update_time</sql>

    <select id="list" resultMap="RESULTMAP_BASE">
        select <include refid="COLUMNS_BASE"/>
        from pic_recognize_step
        <where>
            <if test="null != id">
            and id = #{id: INTEGER}
            </if>
            <if test="null != picRecognizeLogId">
            and pic_recognize_log_id = #{picRecognizeLogId: INTEGER}
            </if>
            <if test="null != stepName and '' != stepName">
            and step_name = #{stepName: VARCHAR}
            </if>
            <if test="null != createTime">
            and create_time = #{createTime: TIMESTAMP}
            </if>
            <if test="null != updateTime">
            and update_time = #{updateTime: TIMESTAMP}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into pic_recognize_step (
        <trim suffixOverrides=",">
            <if test="null != picRecognizeLogId">
                pic_recognize_log_id,
            </if>
            <if test="null != stepName and '' != stepName">
                step_name,
            </if>
            <if test="null != createTime">
                create_time,
            </if>
            <if test="null != updateTime">
                update_time
            </if>
        </trim>
        )values (
        <trim suffixOverrides=",">
            <if test="null != picRecognizeLogId">
                #{picRecognizeLogId: INTEGER},
            </if>
            <if test="null != stepName and '' != stepName">
                #{stepName: VARCHAR},
            </if>
            <if test="null != createTime">
                #{createTime: TIMESTAMP},
            </if>
            <if test="null != updateTime">
                #{updateTime: TIMESTAMP}
            </if>
        </trim>
        )
    </insert>

    <update id="updateById">
        update pic_recognize_step
        set
        <if test="null != picRecognizeLogId">
            pic_recognize_log_id = #{picRecognizeLogId: INTEGER},
        </if>
        <if test="null != stepName and '' != stepName">
            step_name = #{stepName: VARCHAR},
        </if>
        <if test="null != createTime">
            create_time = #{createTime: TIMESTAMP},
        </if>
        <if test="null != updateTime">
            update_time = #{updateTime: TIMESTAMP},
        </if>
        where id = #{id: INTEGER}
    </update>

    <select id="selectById" resultMap="RESULTMAP_BASE">
        select <include refid="COLUMNS_BASE"/>
        from pic_recognize_step
        where id = #{id: INTEGER}
    </select>

    <delete id="delById">
        delete from pic_recognize_step
        where id = #{id: INTEGER}
    </delete>
    
    <delete id="delByLogId">
        delete from pic_recognize_step
        where pic_recognize_log_id = #{picRecognizeLogId: INTEGER}
    </delete>

</mapper>