<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kimmy.learn.web.mapper.DbConnectConfigMapper">

    <resultMap id="BaseResultMap" type="com.kimmy.learn.web.entity.db.DbConnectConfig">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="db_type" property="dbType" jdbcType="VARCHAR"/>
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="db_ip" property="dbIp" jdbcType="VARCHAR"/>
        <result column="db_port" property="dbPort" jdbcType="INTEGER" />
        <result column="default_connect_db" property="defaultConnectDb" jdbcType="VARCHAR"/>
        <result column="driver_class_name" property="driverClassName" jdbcType="VARCHAR"/>
        <result column="db_user" property="dbUser" jdbcType="VARCHAR"/>
        <result column="db_pwd" property="dbPwd" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="BaseColumns">
        id, db_type, nick_name, db_ip, db_port, default_connect_db, driver_class_name, db_user, db_pwd, status, create_time, update_time
    </sql>

    <select id="countExisted" resultType="java.lang.Integer">
        select count(*) from db_connect_config
        where status = 1
        and db_type = #{dbType:VARCHAR}
        and nick_name = #{nickName:VARCHAR}
        and db_ip = #{dbIp:VARCHAR}
        and db_port = #{dbPort:INTEGER}
        and default_connect_db = #{defaultConnectDb:VARCHAR}
        and driver_class_name = #{driverClassName:VARCHAR}
        and db_user = #{dbUser:VARCHAR}
--         and db_pwd = #{dbPwd:VARCHAR}
    </select>

    <insert id="saveconnect" parameterType="com.kimmy.learn.web.entity.db.DbConnectConfig">
        INSERT INTO datadeal.db_connect_config (db_type, nick_name, db_ip, db_port, default_connect_db, driver_class_name, db_user, db_pwd)
        VALUES(#{dbType:VARCHAR}, #{nickName:VARCHAR}, #{dbIp:VARCHAR}, #{dbPort:INTEGER}, #{defaultConnectDb:VARCHAR}, #{driverClassName:VARCHAR}, #{dbUser:VARCHAR}, #{dbPwd:VARCHAR})
    </insert>

    <select id="getDbList" resultMap="BaseResultMap">
        select <include refid="BaseColumns"/>
        from db_connect_config
        where status = 1
    </select>

</mapper>