package ${proj.mapperDir};

import java.util.List;
import ${proj.entityDir}.${table.className};
import org.apache.ibatis.annotations.Mapper;

/**
 * @description: ${table.TABLE_COMMENT}
 * @author ${proj.author}
 * @date ${date}
 */
@Mapper
public interface ${table.className}Mapper {

	List<${table.className}> list(${table.className} ${table.paramName});

	int insert(${table.className} ${table.paramName});

#if($table.prikey)
	int updateBy${table.prikey.methodName}(${table.className} ${table.paramName});

	${table.className} selectBy${table.prikey.methodName}($table.prikey.javaTypeShort $table.prikey.fieldName);

	int delBy${table.prikey.methodName}($table.prikey.javaTypeShort $table.prikey.fieldName);
#end
}
