#set($math = $tool.math)
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${proj.mapperDir}.${table.className}Mapper">

    <resultMap id="RESULTMAP_BASE" type="${proj.entityDir}.${table.className}">
#foreach($field in $table.fieldList)
#if($field.COLUMN_KEY == "PRI")
        <id column="$field.COLUMN_NAME" property="$field.fieldName" jdbcType="$field.jdbcType.toUpperCase()"/>
#else
        <result column="$field.COLUMN_NAME" property="$field.fieldName" jdbcType="$field.jdbcType.toUpperCase()"/>
#end
#end
    </resultMap>
#set($COLUMNS="")
#foreach($field in $table.fieldList)#set($COLUMNS=$COLUMNS+$field.COLUMN_NAME+",")#end
#set($COLUMNS=$COLUMNS.substring(0, $COLUMNS.length()- 1))
    <sql id="COLUMNS_BASE">$COLUMNS</sql>

    <select id="list" resultMap="RESULTMAP_BASE">
        select <include refid="COLUMNS_BASE"/>
        from $table.TABLE_NAME
        <where>
#foreach($field in $table.fieldList)
#if($field.DATA_TYPE.toUpperCase() == "VARCHAR")
            <if test="null != $field.fieldName and '' != $field.fieldName">
#else
            <if test="null != $field.fieldName">
#end
            and $field.COLUMN_NAME = #{$field.fieldName: $field.jdbcType.toUpperCase()}
            </if>
#end
        </where>
    </select>

    <insert id="insert" #if($table.prikey && $table.prikey.EXTRA=="auto_increment")useGeneratedKeys="true" keyProperty="$table.prikey.fieldName"#end>
        insert into $table.TABLE_NAME (
        <trim suffixOverrides=",">
#foreach($field in $table.fieldList)
#if($table.prikey && $table.prikey.fieldName == $field.fieldName && $table.prikey.EXTRA=="auto_increment")
#elseif($field.DATA_TYPE.toUpperCase() == "VARCHAR")
            <if test="null != $field.fieldName and '' != $field.fieldName">
                $field.COLUMN_NAME#if($foreach.index != $table.fieldList.size()- 1),#end
            </if>
#else
            <if test="null != $field.fieldName">
                $field.COLUMN_NAME#if($foreach.index != $table.fieldList.size()- 1),#end
            </if>
#end
#end
        </trim>
        )values (
        <trim suffixOverrides=",">
#foreach($field in $table.fieldList)
#if($table.prikey && $table.prikey.fieldName == $field.fieldName && $table.prikey.EXTRA == "auto_increment")
#elseif($field.DATA_TYPE.toUpperCase() == "VARCHAR")
            <if test="null != $field.fieldName and '' != $field.fieldName">
                #{$field.fieldName: $field.jdbcType.toUpperCase()}#if($foreach.index != $table.fieldList.size()- 1),#end
            </if>
#else
            <if test="null != $field.fieldName">
                #{$field.fieldName: $field.jdbcType.toUpperCase()}#if($foreach.index != $table.fieldList.size()- 1),#end
            </if>
#end
#end
        </trim>
        )
    </insert>

#if(${table.prikey})
    <update id="updateBy${table.prikey.methodName}">
        update ${table.TABLE_NAME}
        set
#foreach(${field} in ${table.fieldList})
#if(${table.prikey} && ${table.prikey.fieldName} == ${field.fieldName})
#else
#if(${field.DATA_TYPE.toUpperCase()} == "VARCHAR")
        <if test="null != ${field.fieldName} and '' != ${field.fieldName}">
#else
        <if test="null != ${field.fieldName}">
#end
            ${field.COLUMN_NAME} = #{${field.fieldName}: ${field.jdbcType.toUpperCase()}},
        </if>
#end
#end
        where ${table.prikey.COLUMN_NAME} = #{${table.prikey.fieldName}: ${table.prikey.jdbcType.toUpperCase()}}
    </update>

    <select id="selectBy$table.prikey.methodName" resultMap="RESULTMAP_BASE">
        select <include refid="COLUMNS_BASE"/>
        from $table.TABLE_NAME
        where $table.prikey.COLUMN_NAME = #{$table.prikey.fieldName: $table.prikey.jdbcType.toUpperCase()}
    </select>

    <delete id="delBy$table.prikey.methodName">
        delete from $table.TABLE_NAME
        where $table.prikey.COLUMN_NAME = #{$table.prikey.fieldName: $table.prikey.jdbcType.toUpperCase()}
    </delete>
#end

</mapper>