package ${proj.serviceimplDir};

import ${proj.entityDir}.${table.className};
import ${proj.mapperDir}.${table.className}Mapper;
import ${proj.serviceDir}.${table.className}Service;
import ${proj.responseDir}.${table.className}AddResponse;
import ${proj.responseDir}.${table.className}ListResponse;
import ${proj.responseDir}.${table.className}DelResponse;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * @discription ${table.TABLE_COMMENT}
 * @author ${proj.author}
 * @date ${date}
 */
@Service
public class ${table.className}ServiceImpl implements ${table.className}Service {

    @Autowired
    ${table.className}Mapper ${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)}Mapper;

    @Override
    public ${table.className}AddResponse add(${table.className} ${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)}) {
        ${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)}Mapper.insert(${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)});
        return ${table.className}AddResponse.success();
    }

    @Override
    public ${table.className}ListResponse list(${table.className} ${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)}) {

        return ${table.className}ListResponse.success(${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)}Mapper.list(${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)}));
    }

    @Override
    public ${table.className}DelResponse del(${table.className} ${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)}) {
        ${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)}Mapper.delBy${table.prikey.methodName}(${table.className.substring(0,1).toLowerCase()}${table.className.substring(1)});
        return ${table.className}DelResponse.success();
    }

}
