<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daydayup.mapper.ScheduleMapper">

    <resultMap id="RESULTMAP_BASE" type="com.daydayup.entity.Schedule">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="teacher_id" property="teacherId" jdbcType="INTEGER"/>
        <result column="schedule_date" property="scheduleDate" jdbcType="DATE"/>
        <result column="start" property="start" jdbcType="VARCHAR"/>
        <result column="end" property="end" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="COLUMNS_BASE">id,teacher_id,schedule_date,start,end,status,create_time</sql>

    <select id="list" resultMap="RESULTMAP_BASE">
        select <include refid="COLUMNS_BASE"/>
        from schedule
        <where>
            <if test="null != teacherId">
            and teacher_id = #{teacherId: INTEGER}
            </if>
            <if test="null != scheduleDate">
            and schedule_date = #{scheduleDate: DATE}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into schedule (
        <trim suffixOverrides=",">
            <if test="null != teacherId">
                teacher_id,
            </if>
            <if test="null != scheduleDate">
                schedule_date,
            </if>
            <if test="null != start and '' != start">
                start,
            </if>
            <if test="null != end and '' != end">
                end,
            </if>
            <if test="null != status and '' != status">
                status,
            </if>
            <if test="null != createTime">
                create_time
            </if>
        </trim>
        )values (
        <trim suffixOverrides=",">
            <if test="null != teacherId">
                #{teacherId: INTEGER},
            </if>
            <if test="null != scheduleDate">
                #{scheduleDate: DATE},
            </if>
            <if test="null != start and '' != start">
                #{start: VARCHAR},
            </if>
            <if test="null != end and '' != end">
                #{end: VARCHAR},
            </if>
            <if test="null != status and '' != status">
                #{status: VARCHAR},
            </if>
            <if test="null != createTime">
                #{createTime: TIMESTAMP}
            </if>
        </trim>
        )
    </insert>

    <update id="updateById">
        update schedule
        set
        <if test="null != teacherId">
            teacher_id = #{teacherId: INTEGER},
        </if>
        <if test="null != scheduleDate">
            schedule_date = #{scheduleDate: DATE},
        </if>
        <if test="null != start and '' != start">
            start = #{start: VARCHAR},
        </if>
        <if test="null != end and '' != end">
            end = #{end: VARCHAR},
        </if>
        <if test="null != status and '' != status">
            status = #{status: VARCHAR},
        </if>
        <if test="null != createTime">
            create_time = #{createTime: TIMESTAMP},
        </if>
        where id = #{id: INTEGER}
    </update>

    <select id="selectById" resultMap="RESULTMAP_BASE">
        select <include refid="COLUMNS_BASE"/>
        from schedule
        where id = #{id: INTEGER}
    </select>

    <delete id="delById">
        delete from schedule
        where id = #{id: INTEGER}
    </delete>

    <resultMap id="ReusltMap_info" type="com.daydayup.vo.response.ScheduleInfo" extends="RESULTMAP_BASE">
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="infoList" resultMap="ReusltMap_info">
        SELECT
            s.id ,
            s.teacher_id ,
            s.schedule_date ,
            s.`start` ,
            s.`end` ,
            t.name
        FROM
            schedule s
                LEFT JOIN teacher t ON
                s.teacher_id = t.id
        ORDER BY
            s.create_time DESC
    </select>

    <resultMap id="ReusltMap_Occupy" type="com.daydayup.vo.response.ScheduleOccupy" extends="ReusltMap_info">
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="occupyList" resultMap="ReusltMap_Occupy">
        SELECT
            name, id, teacher_id, schedule_date, `start`, `end`, create_time, (CASE WHEN couself = 1 THEN 1 WHEN cou != 0 THEN 2 ELSE 0 END) status
        FROM
            (
                SELECT
                    t.name ,
                    s.id ,
                    s.teacher_id ,
                    s.schedule_date ,
                    s.`start` ,
                    s.`end` ,
                    s.create_time,
                    (
                        SELECT
                            count(*)
                        FROM
                            schedule_order so
                        WHERE
                            so.schedule_id = s.id) cou,
                    (
                        SELECT
                            count(*)
                        FROM
                            schedule_order so
                        WHERE
                            so.schedule_id = s.id
                          AND so.student_id = #{studentId: INTEGER}) couself
                FROM
                    schedule s
                        LEFT JOIN teacher t ON
                        s.teacher_id = t.id
            ) tmp
        ORDER BY
            tmp.create_time DESC
    </select>

</mapper>